.home-main { 
    width: 100%;
    height: 100vh;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quantity-position {
    position: relative;
    top: 8px;
}